<a href="https://colab.research.google.com/github/Mario-eliud-pin/edd_1310_2021/blob/master/6Octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#string continuacion

frase="si funciona no lo conpongas"
numeros_txt= "      1,2,3,4,    15,   35,    12,    5"
print(numeros_txt)
numeros_txt.lstrip()
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(",")
print(numeros_txt)
for j in range(len(numeros_txt)):
  numeros_txt[j]=int(numeros_txt[j].strip())
print(numeros_txt)

      1,2,3,4,    15,   35,    12,    5
      1,2,3,4,    15,   35,    12,    5
['1', '2', '3', '4', '    15', '   35', '    12', '    5']
[1, 2, 3, 4, 15, 35, 12, 5]

funcion range

#la funcion range nos genera un iterador 

(inicio, stop, incremento)

In [10]:
print(range(1,10,2))
rango=range(1,10,2)
for x in rango:
  print(x)
rango2=range(10)
for y in rango2:
  print(y)

range(1, 10, 2)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

otro tipo de colecciones
#listas
-mutables
-declaran con->[]
-selector [int]=numero de elementos en la lista
#tuplas
-no mutables
-declaran con -> ()
-selector [int ]=numero de eementos en la tupla
#diccionarios
-son mutables 
-son conjuntos de pares de llaves: valor
-equivalentes a los objetos json de javascritp
#conjuntos
-representacion de la teoria de conjuntos

In [23]:
#listas 
frutas =["pera", "manzana", "fresa", "kiwi", "naranja"]
print(frutas)
#pueden mesclarce tipos de datos
cosas=["cuaderno",2,3.1416, True, False, ["rojo", "azul"]]
print(cosas)
frutas[2]="Fresa"
print(frutas)
#append un elemento al final
frutas.append("aguacate")
print(frutas)
#puedo agregar elementos antes de otros con el metodo insert (posicion, elemento)
frutas.insert(2, "sandia")
print(frutas)
fecha=["06","10","2020"]
print(fecha)
#concatena un elemento "s"= "separacion o concatenacion" tiene que estar conectado a una nueva variable
fecha_str="/".join(fecha)
print(fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'aguacate']
['pera', 'manzana', 'sandia', 'Fresa', 'kiwi', 'naranja', 'aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]

In [34]:
#metodos para eliminar o quitar elementos
#metodo pop
cosas=["cuaderno",2,3.1416, True, False, ["rojo", "azul"]]
print(cosas)
cosas.append("libro")
cosas.append("lapiz")
print(cosas)
algo=cosas.pop()
print(cosas)
algo=cosas.pop(2)
print(cosas)
#metodo remuve 
cosas.remove(2)
print(cosas)
#vaciar una lista
cosas.clear()
print(cosas)
#ordenar la listas
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'libro', 'lapiz']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'libro']
['cuaderno', 2, True, False, ['rojo', 'azul'], 'libro']
['cuaderno', True, False, ['rojo', 'azul'], 'libro']
[]
['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['fresa', 'kiwi', 'manzana', 'naranja', 'pera']

In [39]:
#slicing 
cosas=["cuaderno",2,3.1416, True, False, ["rojo", "azul"]]
print(cosas[3:5:1])
#puedo separar 
print(cosas[0][3:5:1])
numero=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numero[7:13:1])
#susutitur rebanadas [-2,-2]
numero[8:13:]=[-2,-2]
print(numero)
#preguntar por una existencia
print(-2 in numero)

[True, False]
de
[8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True

Listas multiimencion
#listas dentro de listas

In [52]:
computadoras=["HP","Mac Book Pro 17", "Mate Book","Lenovo legion"]
oss=["Windows", "Linux", "Android", "ios"]
computo=[computadoras,oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][3][5::-1])
print(computo[1][2][7::-1])
dbms=[["Mysql","Open Source ",False],["ms sql server ","de paga ", True]]
computo.append(dbms)
print(computo)
print(computo[2][1][:2:])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo legion']
['Windows', 'Linux', 'Android', 'ios']
Mate Book
ovoneL
diordnA
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo legion'], ['Windows', 'Linux', 'Android', 'ios'], [['Mysql', 'Open Source ', False], ['ms sql server ', 'de paga ', True]]]
['ms sql server ', 'de paga ']